<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>Intalio Japan Questionnaire</title>
	</head>
	<p>&nbsp;</p>
	<body>
		<form name="kform" method="GET" >
			<table border="1" width="50%" align="center">
				<caption>エラーメッセージ</caption>
				<tr>
					<td align="left" width="30%">&nbsp;</td>
					<td width="70%">
						<%= message %>
					</td>
				</tr>
			</table>
			<br/>
			<table width="70%" border="0" align="center">
				<tr>
					<td align="center">
						<input type="button" value="戻る" id="backbtn" name="backbtn" onClick="javascript:history.back();" >
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>